/* cart style  */
.cart{
    margin-left: 10px;
    background-color: rgb(83, 83, 133);
    color: rgb(234, 234, 255);
    padding: 10px;
    border-radius: 10px;
    position: fixed;
}
 
 /* donarList style  */
.donarList{
  display: block;
  margin: 0 10px;
}