/* header style  */
.header{
    background-color: rgb(83, 83, 133);
    color: rgb(234, 234, 255);
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 20px;
   

}

.header h1{
    font-size: 44px;
}
.header h2{
    font-size: 16px;
    line-height: 0;
}
.header h3{
    font-size: 25px;
}